<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(content=~{::section}, title='Order Success')}">
<head>
    <title>Order Success</title>
</head>
<body>
    <section>
        <div class="container text-center mt-5">
            <div class="alert alert-success" role="alert">
                <h1 class="display-4">Thank You!</h1>
                <p class="lead">Your order has been placed successfully.</p>
                <hr>
                <p>You can continue browsing other books.</p>
                
                <a class="btn btn-primary btn-lg" th:href="@{/books}" role="button">
                    Continue Shopping
                </a>
            </div>
        </div>
    </section>
</body>
</html>